.markdown-body {
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1.25;
}

.markdown-body h1,
.markdown-body h2 {
    border-left: 5px solid #333;
    padding-left: 15px;
    border-bottom: none;
}

.markdown-body h1 {
    font-size: 2em;
}

.markdown-body h2 {
    font-size: 1.5em;
}

.markdown-body h3 {
    font-size: 1.25em;
}

.markdown-body h4 {
    font-size: 1em;
}

.markdown-body h5 {
    font-size: 0.875em;
}

.markdown-body h6 {
    font-size: 0.85em;
}

.markdown-body p {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body ul,
.markdown-body ol {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 16px;
    list-style-position: outside;
}

.markdown-body ul {
    list-style-type: disc;
}

.markdown-body ol {
    list-style-type: decimal;
}

.markdown-body li {
    margin-top: 0.25em;
    background-color: #fff !important; /* チェックリスト項目の背景色を白に設定 */
}

.markdown-body blockquote {
    margin: 0;
    padding: 0 1em;
    color: #666;
    border-left: 0.25em solid #ddd;
}

.markdown-body code {
    font-size: 0.9em;
    background-color: #f7f7f7;
    padding: 2px 4px;
    border-radius: 4px;
}

.markdown-body pre {
    background-color: #282C34;
    color: #f8f8f2;
    display: block;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
}

.markdown-body table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
}

.markdown-body th {
    padding: 8px;
    border: 1px solid #d6e3ed !important;
    background-color: #edf2f7 !important;
}

.markdown-body td {
    padding: 8px;
    border: 1px solid #d6e3ed !important;
    background-color: #fff !important;
}

.markdown-body img {
    max-width: 100%;
    height: auto;
    background-color: #fff;
}

.markdown-body hr {
    border: 0;
    height: 1px;
    background-color: #e0e0e0 !important;
    margin: 20px 0 !important;
}